body {
  background:url(fondrouge.png) no-repeat center #5b0002;
  margin:0;
  padding:0;
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
}

#top {
  height:72px;
  background:#390100;
  font-size:30px;
  text-align:left;
  line-height:72px;
  color:white;
  margin:50px 93px 50px 93px;
}

#presentation {
  height:100px;
  text-align:center;
  color:white;
  margin:50px 500px 50px 93px;
}
#presentation .nom {
  font-size:24px;
}

#conteneur {
  width:500px;
  margin:0 93px 0 700px;
  background:white;
}
