body {
  background:url(fondrouge.png) no-repeat center;
  background-color:#190101;
  width:90%;
  height:90%;
  margin:50px 0 50px 0;
  position:relative;
  padding:0;
  font-family:arial, verdana, times new roman, serif;
  font-size:14px;
  color:white;
}

#top {
  display:block;
  height:60px;
  width:1000px;
  margin-left:100px;
  margin-right:600px;
  position:relative;
}

#top h1 {
  font-size:34px;
  text-align:left;
}
#top h2 {
  text-align:center;
}
#top h3 {
  text-align:center;
}
#top h4 {
  line-height:80px;
  text-align:center;
}
#animation {
  display:block;
  margin-left:100px;
  margin-right:600px;
  background:url(fleur-116.gif) no-repeat center;
}
#contact {
  display:block;
  weight:30px;
  width:1000px;
  margin:150px 0 50px 0;
  text-align:center;
  font-size:18px;
  background:#390100;
  position:relative;
  margin-left:80px;  
}
  
