body {
  background:url(fondrouge.png) no-repeat center #5b0002;
  margin:0;
  padding:0;
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
}

#top {
  height:72px;
  background:#390100;
  font-size:30px;
  text-align:left;
  line-height:72px;
  color:white;
  margin:10px 92px 50px 92px;
}
#top h1 {
  font-size:1em;
}
#presentation {
  float:left;
  height:300px;
  width:300px
  text-align:center;
  color:white;
  line-height:60px;
  font-weight:bold;
  margin:5px 20px 0 180px;
}
#presentation h2 {
  text-align:center;
}
#presentation p {
  text-align:center;
  line-height:30px;
}
#animation {
  height:30px;
  widht:300px;
  background:url(fleur-116.gif) no-repeat center;
  margin:70px 0 0 20px;
}

#menu {
  float:right;
  width:250px;
  margin:30px 200px 0 20px;
}
#menu ul li {
  list-style:none;
  padding:0;
}
#menu ul li a {
  font-size:8px;
  font-weight:bold;
  line-height:22px;
  color:#000000;
  text-decoration:none;
  text-align:center;
  display:block;
  background:url(iconedoree.png) no-repeat center;
  margin:5px 0 0 0;
}
#menu ul li a:hover {
  background-position:bottom center;
}
  
#footer {
  height:70px;
  background:#390100 bottom left;
  font-size:18px;
  text-align:center;
  color:white;
  margin:400px 92px 0 92px;
}
/*/PARCOURS PROFESSIONNEL/*/
#titre {
  height:25px;
  color:white;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  margin:3px 20px 0 20px;
}

#contenu {
  float:left;
  display:block;
  background:white;
  height:380px;
  width:510px;
  margin:30px 0 0 110px;
}
#paysage {       
  font-size:10px;
  color:#000000;
  text-align:left;
  line-height:10px;
}
#paysage h2 {
  padding:10px 10px;
  line-height:10px;
}
#paysage ul {
  line-height:12px;
}
  
  #bureautique {       
  font-size:10px;
  color:#000000;
  text-align:left;
  line-height:10px;
}
#bureautique h2 {
  padding:10px 10px;
  line-height:10px;
}
#bureautique ul {
  line-height:10px;
}
  
#fleur {
  float:right;
  height:100px;
  widht:200px;
  background:url(fleur.png) no-repeat center;
  margin:30px 0 0 10px;
}

/*/DIPLOMES/*/
#titre {
  height:25px;
  color:white;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  margin:3px 20px 0 20px;
}
#diplomes {
  float:left;
  display:block;
  font-size:14px;
  color:#000000;
  height:400px;
  width:580px;
  margin:30px 0 0 110px;
}
#diplomes1 {
  background:9fae9e;
  height:80px;
  width:580px;
  line-height:16px;
  text-align:center;
  padding:10px 0 0 10px;
}

#diplomes2 {
  background:ea669d;
  height:150px;
  width:580px;
  line-height:12px;
  text-align:center;
  padding:10px 0 0 10px;
}
  #diplome {
  height:80px;
  widht:550px;
  background:url(diplome.gif) no-repeat center;
  margin:50px 0 20px 45px;
 }
/*/EN SAVOIR PLUS/*/
#titre {
  height:25px;
  color:white;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  margin:3px 20px 0 20px;
}
#loisirs {
  float:left;
  display:block;
  font-size:14px;
  color:#000000;
  height:400px;
  width:580px;
  margin:20px 0 0 110px;
}
#activites {
  background:white;
  height:150px;
  width:580px;
  line-height:15px;
  text-align:left;
  padding:1px 0 0 10px;
}

#interets {
  background:white;
  height:180px;
  width:580px;
  line-height:15px;
  text-align:left;
  padding:1px 0 0 10px;
}
  #centreinterets {
  height:50px;
  widht:550px;
  background:url(iconeorange.png) no-repeat center;
  text-align:center;
  text-size:20px;
  text-weight:bold;
  margin:15px 0 10px 20px;
  padding:3px 0 0 0;
 }
